:root {
  --primary: #566B30;
  --secondary: #C4CBB6;
  --background: #FFFAF4;
}

.bottomnavWrapper {
  background-color: var(--secondary); /* used to be 2C3E50 */
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottomnav {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Style the links inside the navigation bar */
.bottomnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

.bottomnav button {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

/* Change the color of links on hover */
.bottomnav button:hover {
  background-color: #ddd;
  color: black;
}

.reactButton {
  background-color: transparent; /* Transparent background */
  border: none; /* No border */
  border-radius: 10px; /* Rounded corners */
  padding: 10px; /* Add some padding */
  display: inline-flex; /* Center the icon */
  justify-content: center; /* Center the icon horizontally */
  align-items: center; /* Center the icon vertically */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.reactButton:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Light transparent white background on hover */
}

.reactButton:active {
  background-color: transparent; /* Remove background color when active */
  color: white; /* Turn the icon white when pressed */
}

.reactButton svg {
  transition: color 0.3s ease; /* Smooth transition for icon color */
}

.reactButton:active svg {
  color: white; /* Change the icon color to white when pressed */
}