@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Nunito:wght@400;600;700&family=Inria+Sans:wght@400;600;700&display=swap');

:root {
  --primary: #566B30;
  --secondary: #C4CBB6;
  --background: #FFFAF4;

  --titleFont: 'Inika', serif;
  --bodyFont: 'Nunito', sans-serif;
  --buttonFont: 'Inria Sans', sans-serif;

}

.bottomnavWrapper {
  background-color: var(--secondary); /* used to be 2C3E50 */
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottomnav {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Style the links inside the navigation bar */
.bottomnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

.bottomnav button {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

/* Change the color of links on hover */
.bottomnav button:hover {
  background-color: #ddd;
  color: black;
}

/* fix the blue on active later
.bottomnav button span svg:active {
  fill: red;
  color: rebeccapurple;
  background-color: aquamarine;
}
*/